# MQTT Configuration
HOST='mqtt_host'
PORT=1234
USERNAME="your_username"
PASSWORD="your_passowrd"

# MQTT Application Configuration
RECEIVE_EVENTS_TOPIC="teleprecense-events"
SEND_COMMANDS_TOPIC="teleprecense-control"
CONTROLLER_EVENTS_TOPIC="controller-events"

# Save This File as .env